<div id="footer">
	<%= link_to _('Contact Us'), contact_path %>
	<%= link_to _('News'), news_index_path %> |
	<%= link_to _('Privacy Policy'), page_path('privacy-policy') %> |
	<%= link_to _('Terms of Use'), page_path('terms') %> |
	<%= link_to _('Code of Conduct'), page_path('code_of_conduct') %>
</div>